<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ejercicio2.css">
    <title>Ejercicio 2</title>
</head>
<body>
    <h1>Inicio de Sesión</h1>
    <form method="post" action="{{ url_for('ejercicio2') }}">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" required><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" required><br>

        <input type="submit" value="Verificar">
    </form>
    <p>{{ mensaje_bienvenida }}</p>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
</body>
</html>